
/* Reset and Base Styles */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}
/* #0b0b0b */
html, body {
    width: 100%;
    height: 100%;

}

/* loader */
.loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;

}
.loader .line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vw;
}

.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.line1-part1 h5 , .line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}

.line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 600;
    
}
.line h2{
    font-size: 5.1vw;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}


@keyframes nowAnimation {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 1;
        
    }
    47%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity: 0;
    }

    50%{
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
    }


    100%{
        font-family: "silk serif";
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
}



.main{
    position: relative;
    background-color: black;
}
.page1{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}

